# Toast config
config.json

# Dependencies
node_modules/
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm
/package-lock.json

# Rule sets
.prettierignore
.prettierrc.json
.eslintrc.json